@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: rgb(6, 48, 53);
}
::-webkit-scrollbar{
    display: none;
}

/* NAVIGATION BAR */

#navbar{
    padding: 2rem 3rem;
}
#navbar .nav-items-container{
    display: flex;
    justify-content: flex-start;
}
.nav-items-container .logo-box{
    flex-basis: 20%;
    display: flex;
    align-items: center;
}
.logo-box i{
    color: #ff5454;
    font-size: 1.2rem;
}
.logo-box h3{
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #e8cfb5;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.nav-items-container .search-box{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}
.search-box .search-wrapper{
    height: 2.5rem;
    width: 50%;
    position: relative;
}
.search-wrapper .search-field{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    outline: none;
    padding-left: 1rem;
    font-size: 1.2rem;
    color:rgb(3, 50, 65);
}
.search-wrapper .search-btn-container{
    position: absolute;
    top: 4%;
    right: 0;
    height: 2.3rem;
    width: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 197, 123);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    cursor: pointer;
}
.search-btn-container button{
    border: none;
    background-color: rgb(3, 197, 123);
    cursor: pointer;
}
.search-btn-container .btn{
    font-size: 1.3rem;
    color: rgb(3, 50, 65);
}


/* SEARCHED - MOVIE - LIST - BLOCK  */

#searchedResultBox{
    margin: 5rem auto 0 auto;
    width: 90%;
}
#searchedResultBox img{
    width: 20%;
    transition: all 0.3s ease-in;
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem;
    border-radius: 0.5rem;
}
#searchedResultBox img:hover{
    transform: scale(1.1);
}

/* FOR BOTH SEARCHED MOVIE AND DEFAULT MOVIES */
.movie{
    width: 100%;
    margin-top: 2rem;
}
.movie .section{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* border: 1px solid cyan; */
    padding: 3rem 2rem;
}
.movie h3{
    color: rgb(230, 235, 232);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: 3rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.3rem solid rgb(9, 162, 179);
}
.content{
    display: none;
    padding: 1rem 3rem;
    width: 100%;
}
.content p{
    color: white;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    background: red;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: background 0.2s ease-in-out;
}
.content p:hover{
    background-color: rgb(202, 31, 31);
}
.content-display{
    display: block;
}
.movie .movieClips{
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 1rem 0;
}
.movie .movieClips iframe{
    margin-right: 2rem;
    width: 20rem;
    height: 12rem;
}
/* DEFAULT - MOVIES - LIST  */

.movie-container {
    width: 90%;
    margin: 2rem auto 0 auto;
}
.movie .movieSection{
    width: 100%;
}
.movie-container img {
    width: 20%;
    transition: all 0.3s ease-in;
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem;
    border-radius: 0.5rem;
}
.movie-container img:hover{
    transform: scale(1.1);
}

/* #######RESPONSIVE######### */

@media (max-width: 1100px) {

    .nav-items-container .search-box{
        width: 80%;
    }
    .search-box .search-wrapper{
        width: 75%;
    }
    #searchedResultBox img{
        width: 30%;
    }
    .movie h3{
        font-size: 1.5rem;
    }
    .movie-container img{
        width: 30%;
    }
}

@media (max-width: 768px){
    html{
        font-size: 14px;
    }
    #navbar{
        padding: 2rem;
    }
    #navbar .nav-items-container{
        display: block;
    }
    .nav-items-container .logo-box{
        width: 100%;
    }
    .nav-items-container .search-box{
        width: 100%;
        margin-top: 3rem;
    }
    .search-box .search-wrapper{
        width: 60%;
    }
    #searchedResultBox{
        width: 100%;
    }
    .movie h3{
        font-weight: 500;
        border-bottom: 0.2rem solid rgb(9, 162, 179);
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .movie .section{
        padding: 2rem 1rem;
    }
    .movie-container{
        width: 100%;
    }
    .content{
        padding: 1rem 2rem;
    }
    .movie .movieClips iframe{
        width: 15rem;
        height: 10rem;
    }
}

@media (max-width: 500px){
    html{
        font-size: 12px;
    }
    .nav-items-container .search-box{
        margin-top: 5rem;
    }
    .search-box .search-wrapper{
        width: 90%;
    }
    #searchedResultBox img{
        width: 40%;
    }
    .movie-container img{
        width: 40%;
    }
}